ion-header{
  text-align: center;
  --ion-background-color: hsl(0, 0%, 100%);;
}
ion-title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 2px 2px #dfdfdf,
      -2px 5px 1px #cbcbcb,
      -4px 8px 1px #979797,
      -6px 11px 1px #a2a2a2,
      -8px 14px 1px #aeaeae,
      -10px 17px 1px #b5b5b5,
      -12px 20px 1px #bebebe,
      -14px 23px 1px #cecece,
      -16px 26px 1px #dbdbdb,
      -18px 29px 1px #dfdfdf;
}
ion-content, ion-list, ion-item {
  --ion-background-color: hsl(0, 0%, 100%);;
}
ion-grid {
  ion-row {
      ion-col {
        ion-icon{
          font-size: 30px;
          color: blue;
        }
        div{
          ion-label {
            h2{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            ion-row{
              ion-col{
                p{
                  font-size: 10px;
                  color: rgb(94, 94, 97);
                }
              }
            }

          }
        }
      }
  }
}
.music_data{
  border-bottom: 1px outset blue;
  padding: 0 18px;
}

.footer_body{
  font-family: algerian;
}
.anim_title{
  animation: scrollText 5s infinite linear;
  @keyframes scrollText {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}
}

ion-footer{
  ion-toolbar{
    font-family: algerian;
    text-align: center;
    }
  }
ion-header{
  ion-toolbar{
    ion-row{
      ion-col{
        ion-button{
          ion-icon{
            font-size: 30px;
            color: blue;
          }
        }
      }
    }
  }
}
